
@import '~bootstrap/scss/bootstrap.scss';


.login-content{
    background-color: #075bb6;
    
  }

.text-login{
  font-size:40px;
  font-weight: 600;
  color: white;
}

.text-forgot-password{
  font-size: 12px;
  color: white;
}

.facebookicon{
  width: 30px;
  margin-left: 20px;
}

.googleicon{
  background-color: white;
  border-radius: 50%;
  width: 30px;
  margin-left: 20px;
 
}

 